<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
</head>

<body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div *ngIf="isLoggedIn">
              <p class="navbar-text navbar-right">Logged In: {{userDisplayName}} ({{userEmail}})<p>
            </div>
            <div *ngIf="!isLoggedIn">
              <p class="navbar-text navbar-right">Logged Out</p>
            </div>
          </div>
      </nav>
      <div class="row padding-top-10">
        <div class="col-xl-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  <!-- /container -->
</body>

</html>